@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
.home_container{
    width: 100vw;
    height: 100vh;
    background-image: url(C:\Users\Junior\Documents\spacet-website\src\assets\home\background-home-desktop.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_content{
    width: 63rem;

    display: flex;
    justify-content: space-between
}
.home_content-text{
    width: 21rem;
}
.home_content-text h4{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
}
.home_content-text h2{
    color: #fff;
    font-size: 150px;
    font-family: 'Bellefair', serif;
}
.home_content-text p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.home_content-right{
    align-items: center;
    display: flex;
    width: 25rem;
    justify-content: flex-end;
}
.home_content-circle{
    background: #fff;
    border-radius: 10rem;
    width: 17rem;
    height: 17rem;
}
.home_content-circle:not(:hover){
    -webkit-animation: getdown 1.0s forwards;
}
.home_content-circle:hover{
    -webkit-animation: getup 1.0s forwards;
}
.home_content-circle p{
    font-family: 'Bellefair', serif;
    font-size: 32px;
}

@keyframes getup {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes getdown {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}


@media screen and (max-width: 992px) {
    .home_content{
        flex-direction: column;
        align-items: baseline;
        justify-content: baseline;
    }      
}   
@media screen and (max-width: 768px) {
    .home_container{
        background-image: url(C:\Users\Junior\Documents\spacet-website\src\assets\home\background-home-tablet.jpg);
        align-items: center;
        justify-content: center;
    }
    .home_content{
        align-items: center;
        justify-content: center;
        width: 1%
    }
    .home_content-text{
        width: 31rem;
    }
    .home_content-circle:not(:hover){
        -webkit-animation: none;
    }
    .home_content-circle:hover{
        -webkit-animation: none;
    }
    .home_content-right{
        justify-content: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px) {
}


@media screen and (max-width: 350px) {

}